body{
    background: linear-gradient(to left,gray,blue);
   

}
.profile{
    scrollbar-width:'1000px';
}

.Restaurants{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.each{
    width: 200px;

}
.each p{
    color: green;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
.OnlineRstr{
    background-color: green;
  color:white;
    width: 700px;
    height: 50px;
    margin-left: 350px;
    padding: 0px 60px;
    border-radius: 10px;

}